1.jpg
2.jpg
3.jpg
4.jpg
5.jpg
6.jpeg
7.jpeg
10 Python Automation Scripts for Your Daily Problems _ Python in Plain English.pdf
.idea/.name
animals/elephant/001_1fd0def1.jpg
animals/elephant/002_f6f5cd7f.jpg
animals/elephant/003_cd5c5bc0.jpg
animals/elephant/004_177c4a89.jpg
animals/elephant/005_4cc2cc45.jpg
animals/elephant/006_f70810bb.jpg
animals/elephant/007_fb621b77.jpg
animals/elephant/008_ea03a1de.jpg
animals/elephant/009_87ad82ca.jpg
animals/elephant/010_b5a5b806.jpg
animals/elephant/011_29f4c7aa.jpg
animals/elephant/012_cd87e1d3.jpg
animals/elephant/013_ac885e0f.jpg
animals/elephant/014_d4fdfc32.jpg
animals/elephant/015_00432a31.jpg
animals/elephant/016_bd8ae86d.jpg
animals/elephant/017_7bc0c897.jpg
animals/elephant/018_14723cdf.jpg
animals/elephant/019_d02ed131.jpg
animals/elephant/020_98aa429d.jpg
animals/elephant/021_44b451f4.jpg
animals/elephant/022_f0dfd21e.jpg
animals/elephant/023_5920a6e4.jpg
animals/elephant/024_4b40b110.jpg
animals/elephant/025_433d9a1d.jpg
animals/elephant/026_9b521367.jpg
animals/elephant/027_71bbd20e.jpg
animals/elephant/028_71bed889.jpg
animals/elephant/029_fcdde3d5.jpg
animals/elephant/030_9a565243.jpg
animals/elephant/031_a0c9d30b.jpg
animals/elephant/032_38a0ca48.jpg
animals/elephant/033_e6a54405.jpg
animals/elephant/035_aaec30b8.jpg
animals/elephant/036_4fd7d5ec.jpg
animals/elephant/037_e2362134.jpg
animals/elephant/038_b942f7b3.jpg
animals/elephant/039_4544aabe.jpg
animals/elephant/040_30d1536b.jpg
animals/elephant/041_eb0dc86f.jpg
animals/elephant/042_e1581518.jpg
animals/elephant/043_eaca8967.jpg
animals/elephant/044_8eeac526.jpg
animals/elephant/045_ff3bb209.jpg
animals/elephant/046_bd2a8223.jpg
animals/elephant/048_0f6eec92.jpg
animals/elephant/049_b75948bd.jpg
animals/elephant/050_429194e4.jpg
animals/elephant/051_e1f5c4d1.jpg
animals/elephant/052_1874f216.jpg
animals/elephant/053_bff69ada.jpg
animals/elephant/055_65fa33a7.jpg
animals/elephant/056_27b46d81.jpg
animals/elephant/057_70d6bc1c.jpg
animals/elephant/058_94d91101.jpg
animals/elephant/059_3cecea87.jpg
animals/elephant/060_fff69e42.jpg
animals/elephant/061_ab077b59.jpg
animals/elephant/062_61a2b958.jpg
animals/elephant/063_1adcecc0.jpg
animals/elephant/064_ebc2eb59.jpg
animals/elephant/065_d19d2f89.jpg
animals/elephant/066_f1a85c06.jpg
animals/elephant/067_752cf1ed.jpg
animals/elephant/068_8f7312d2.jpg
animals/elephant/069_456f074e.jpg
animals/elephant/070_20d0d503.jpg
animals/elephant/071_7360d2ec.jpg
animals/elephant/072_062307f3.jpg
animals/elephant/073_e6b0abdc.jpg
animals/elephant/074_de4375af.jpg
animals/elephant/075_7b411975.jpg
animals/elephant/076_6646cc46.jpg
animals/elephant/077_941802f4.jpg
animals/elephant/078_8ef253f7.jpg
animals/elephant/080_52b7ae9b.jpg
animals/elephant/081_b2bc6f13.jpg
animals/elephant/082_436d394f.jpg
animals/elephant/083_8ce4d553.jpg
animals/elephant/084_bd985254.jpg
animals/elephant/085_dc485a4c.jpg
animals/elephant/086_1118a163.jpg
animals/elephant/087_ad34f71c.jpg
animals/elephant/088_9a2090fa.jpg
animals/elephant/089_5a908d26.jpg
animals/elephant/090_31e99c5f.jpg
animals/elephant/091_590277a8.jpg
animals/elephant/092_ee879117.jpg
animals/elephant/093_838b7f37.jpg
animals/elephant/094_b5bc08b2.jpg
animals/elephant/095_3a4a048e.jpg
animals/elephant/096_726c36c2.jpg
animals/elephant/097_8e94d115.jpg
animals/elephant/098_16fe31df.jpg
animals/elephant/099_fe8a42e6.jpg
animals/elephant/100_6e77dd24.jpg
animals/horse/001_9249c611.jpg
animals/horse/002_cf14ddbd.jpg
animals/horse/003_e24f8429.jpg
animals/horse/004_c79e6359.jpg
animals/horse/005_80e8d9dd.jpg
animals/horse/006_a22e28c6.jpg
animals/horse/007_c23adabb.jpg
animals/horse/008_ceefab10.jpg
animals/horse/009_8a506b2b.jpg
animals/horse/010_8d0a95b6.jpg
animals/horse/011_1210ef48.jpg
animals/horse/012_61f02f7b.jpg
animals/horse/013_26e26c8f.jpg
animals/horse/014_939d4d1c.jpg
animals/horse/015_da70fbdf.jpg
animals/horse/016_8968dbc5.jpg
animals/horse/017_64b91959.jpg
animals/horse/018_8a43fbd0.jpg
animals/horse/019_bea2d190.jpg
animals/horse/020_ea74aa19.jpg
animals/horse/021_f2213b6e.jpg
animals/horse/022_cd900739.jpg
animals/horse/023_4a858ac8.jpg
animals/horse/024_ebdf97ba.jpg
animals/horse/025_b8706fa1.jpg
animals/horse/026_2d34e847.jpg
animals/horse/027_f850204e.jpg
animals/horse/028_8aed370e.jpg
animals/horse/029_8cdd1c9d.jpg
animals/horse/030_bd29c949.jpg
animals/horse/031_a1f72f9f.jpg
animals/horse/032_3cf263be.jpg
animals/horse/033_a63db6b6.jpg
animals/horse/034_ce37d4b5.jpg
animals/horse/035_173b6e0d.jpg
animals/horse/037_55a0df98.jpg
animals/horse/038_16af35b4.jpg
animals/horse/039_49cc74c8.jpg
animals/horse/040_3ef8de6e.jpg
animals/horse/041_7a75ae94.jpg
animals/horse/042_4f81f189.jpg
animals/horse/043_c6a25355.jpg
animals/horse/044_2ff9bb26.jpg
animals/horse/045_05957e34.jpg
animals/horse/046_4d8e6039.jpg
animals/horse/047_e5d6f900.jpg
animals/horse/048_ba26e47d.jpg
animals/horse/049_3be12d6b.jpg
animals/horse/050_b6efe1f6.jpg
animals/horse/051_22c852d0.jpg
animals/horse/052_925eef2f.jpg
animals/horse/053_a42a6eda.jpg
animals/horse/055_8fc6989b.jpg
animals/horse/056_8e26b504.jpg
animals/horse/057_257ea3da.jpg
animals/horse/058_49a4069c.jpg
animals/horse/059_32837b8a.jpg
animals/horse/060_c56b33d0.jpg
animals/horse/061_6ac7bddb.jpg
animals/horse/062_1d3fbd27.jpg
animals/horse/065_fae41d97.jpg
animals/horse/066_1036f694.jpg
animals/horse/067_34002c17.jpg
animals/horse/068_be924b1e.jpg
animals/horse/069_8944d9ea.jpg
animals/horse/070_ce2ca65f.jpg
animals/horse/071_d216f373.jpg
animals/horse/072_31678c66.jpg
animals/horse/073_17d5dd28.jpg
animals/horse/074_64648984.jpg
animals/horse/075_7a6c1915.jpg
animals/horse/076_c8eea693.jpg
animals/horse/077_9f9b169f.jpg
animals/horse/078_ac8aaec1.jpg
animals/horse/079_9109d173.jpg
animals/horse/080_abe3bc14.jpg
animals/horse/081_2fa87953.jpg
animals/horse/082_d42a77ef.jpg
animals/horse/083_02fe80d5.jpg
animals/horse/084_6bd0dd92.jpg
animals/horse/085_65873124.jpg
animals/horse/086_985d08d2.jpg
animals/horse/087_6e9e0770.jpg
animals/horse/088_76f64b9f.jpg
animals/horse/089_8ebb4b54.jpg
animals/horse/090_11e821a8.jpg
animals/horse/091_b2ce0968.jpg
animals/horse/092_e451bb14.jpg
animals/horse/093_9bdbee05.jpg
animals/horse/094_13acfd0d.jpg
animals/horse/095_2269146f.jpg
animals/horse/096_5caaf0e7.jpg
animals/horse/097_c4cf2ba1.jpg
animals/horse/098_d25a5321.jpg
animals/horse/099_44ba2ae0.jpg
animals/horse/100_18fbe184.jpg
export.pkl
